.admin{
    width: 100%;
    height: 100vh;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin a{
    width: 80%;
    height: 50px;
    margin: 10px;
}

.admin button{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--naranjaClaro);
    color: var(--marron);
    font-size: 1.5em;
    font-weight: bold;
    transition: 0.2s;
}

.admin button:hover{
    background-color: var(--marron);
    color: var(--naranjaClaro);
    transform: scale(105%);
    transition: 0.2s;
}