footer{
    width: 100%;
    height: 200px;
    padding: 5px;
    background-color: var(--marron);
}

.footer__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: var(--grisClaro);
    font-size: 1.3em;
    gap: 5px;
}

footer p{
    color: var(--naranjaClaro);
    text-align: center;
}
