.qsomos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.qsomos__box{
    width: 80%;
    position: relative;
    display: inline-block;
}

.qsomos__box img{
    display:block;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.qsomos__box::before {
    content:'';
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: var(--naranjaClaro);
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.qsomos__parrafo {
    padding: 5%;
    font-size: 1.2em;
}