.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 70px;
}

.slider .slide-track {
    display: flex;
    width:var(--slide-track-width);
    animation: scroll 15s linear infinite;
}

.slider .slide {
    width: 100%;
    height: 100%;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100vw * (var(--slide-count) - 1)));
    }
}